@import url(./global.css);


/* Seção Header */
header {
  background-color: var(--color-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 200px;
}

.container-nav-header ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

.container-nav-header ul li,
.container-nav-header ul li a,
.container-nav-header ul li a span {
  list-style: none;
  color: var(--color-l-gray);
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-body2);
  font-family: var(--font-family-primary);
  text-decoration: none;
}

.container-nav-header ul li a span {
  color: var(--color-pink);
}

.btn-header {
  padding: 8px 24px;
  background-color: var(--color-pink);
  border-radius: 10px;
  color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-body3);
  font-family: var(--font-family-primary);
  text-decoration: none;
  cursor: pointer;
}

.btn-header:hover {
  transition: 0.3s;
  color: #001f3f;
  background-color: #fff;
  color: var(--color-pink);
}

/* Seção principal */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 100px;
  background-color: var(--color-black);
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.container-main-text {
  display: flex;
  border: 1px solid var(--color-l-gray);
  padding: 10px 12px;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  gap: 8px;
  width: 81px;
  filter: blur(0.4px);
}

.container-main-text span {
  color: var(--color-pink);
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body4);
  font-family: var(--font-family-primary);
}

.container-main h1 {
  color: var(--color-white);
  width: 549px;
  line-height: 110%;
  font-size: var(--font-size-h1);
}

.container-main h1 span {
  color: var(--color-pink);
}

.container-main p {
  color: var(--color-l-gray);
  width: 513px;
  line-height: 140%;
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body3);
  font-family: var(--font-family-secondary);
}
.container-main nav {
  display: flex;
  gap: 20px;
}

.container-main-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  padding: 14px 24px;
  border: 1.5px solid var(--color-l-gray);
}
.btn-primary {
  padding: 14px 24px;
  background-color: var(--color-pink);
  border-radius: 10px;
  color: var(--color-white);
  text-decoration: none;
  line-height: 140%;
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body3);
  font-family: var(--font-family-secondary);
  border: 1.5px solid var(--#ECECED);
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--color-black);
  color: var(--color-white);
  text-decoration: none;
  line-height: 140%;
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body3);
  font-family: var(--font-family-secondary);
  cursor: pointer;
}

.container-details{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 56px;
  background-color: var(--color-l-black);
}

.container-details-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container-details-text h2 {
  color: var(--color-pink);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  font-family: var(--font-family-primary);
  line-height: 100%;
}

.container-details-text p{
  color: var(--color-l-gray);
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body3);
  font-family: var(--font-family-secondary);
}

.container-vacation{
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 60px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
}

.container-vacation-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container-vacation-text div {
  display: flex;
  border: 1px solid var(--color-d-gray);
  padding: 12px 20px;
  backdrop-filter: blur(12px);
  width: 179px;
  filter: blur(0.4px);
  justify-content: center;
  border-radius: 24px;
  gap: 8px;
  width: max-content;

}

.container-vacation-text div span {
  color: var(--color-pink);
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body2);
  font-family: var(--font-family-primary);
  text-align: center;
  width:139px;
}

.container-vacation-text h2{
  color: var(--color-white);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  font-family: var(--font-family-primary);
  width: 433px;
}

.container-vacation-text p{
  color: var(--color-l-gray);
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body4);
  font-family: var(--font-family-secondary);
  max-width: 600px;
  line-height: 140%;
  margin: 0 auto;
  text-align: center;
  
}

.container-vacation-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-vacation{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-l-black);
  width: 364px;
  border-radius: 18.29px;
  padding: 14.4px

}

.card-vacation > img{
  width: calc(100% + 14.4px + 14.4px);
  margin-top: -14.4px;   
  margin-left: -14.4px; 
  margin-right: -14.4px;  
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-vacation h3{
  color: var(--color-white);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  font-family: var(--font-family-secondary);
  text-align: center;
}

.card-vacation > p{
  color: var(--color-l-gray);
  font-size: var(--font-size-body3);
  font-weight: var(--font-weight-body3);
  font-family: var(--font-family-primary);
}


.card-vacation-stars{
  display: flex;
  gap: 9.15px;
}

.card-vacation-stars > p{
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body4);
  color: var(--color-l-gray);
}

.card-vacation-information{
  display: flex;
  justify-content: space-between;
}

.card-vacation-group{
  display: flex;
  gap: 9.15px;
  justify-content: center;
  align-items: center;

}

.card-vacation-group p{
  font-family: var(--font-family-primary);
  color: var(--color-l-gray);
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body4);

}

.card-vacation-group img{
  width: 18.39px;
}


 .card-vacation-price{
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  color: var(--color-white);
}


.btn-vacation{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  color: var(--color-white);
  font-family: var(--font-family-primary);
  font-weight: bold;
  padding: 9.15px;
  border-radius: 9.15px;
  text-decoration: none;

}
  

/* Seção - Treadings */

.container-treadings{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  background-color: var(--color-l-black);
  gap: 60px;
}

.content-treadings-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.content-treadings-text div{
  display: flex;
  border: 1px solid var(--color-d-gray);
  padding: 12px 20px;
  backdrop-filter: blur(12px);
  width: 116px;
  filter: blur(0.4px);
  justify-content: center;
  border-radius: 24px;
  gap: 8px;
  width: max-content;
}


.content-treadings-text div span{
  color: var(--color-pink);
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body2);
  font-family: var(--font-family-primary);
}


.content-treadings-text h2{
  color: var(--color-white);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  font-family: var(--font-family-primary);
  line-height: 100%;
}

.content-treadings-text p{
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body4);
  font-family: var(--font-family-secondary);
  color: var(--color-l-gray);
  text-align: center;
  line-height: 140%;
  width: 572px;
}

.content-treadings{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--color-l-black);
}

.card-treadings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 79px 36px 80px 35px;
  width: 363px;
  gap: 20px;
  background-color: var(--color-black);
}

.card-treadings-02-padding{
  padding: 89.5px 36px 90px 35px;
}

.card-treadings-03-padding{
  padding: 82px 36px 83px 35px;

}

.card-treadings h3{
  color: var(--color-white);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-body3);
  text-align: center;
  font-family: var(--font-family-primary);
}

.card-treadings p {
  color: var(--color-l-gray);
  font-size: var(--font-body-h4);
  font-weight: var(--font-weight-body3);
  text-align: center;
  font-family: var(--font-family-primary);
}

.container-testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  gap: 60px;
  background-color: var(--color-black);
}

.content-testimonials-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.content-testimonials-text div{
  display: flex;
  border: 1px solid var(--color-d-gray);
  padding: 12px 20px;
  backdrop-filter: blur(12px);
  width: 116px;
  filter: blur(0.4px);
  justify-content: center;
  border-radius: 24px;
  gap: 8px;
  width: max-content;
}

.content-testimonials-text div span{
  color: var(--color-pink);
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body2);
  font-family: var(--font-family-primary);
}

.content-testimonials-text h2{
  color: var(--color-white);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  font-family: var(--font-family-primary);
  line-height: 100%;
}

.content-testimonials-text p{
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body4);
  font-family: var(--font-family-secondary);
  color: var(--color-l-gray);
  text-align: center;
  line-height: 140%;
  width: 594px;
}

.content-testimonials{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-testimonials{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 9px;
  width: 364px;
  border-radius: 20px;
  background-color: var(--color-l-black);
}

.card-testimonials-img{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card-testimonials-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-testimonials-text h3{
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h3);
  font-family: var(--font-family-primary);
  color: var(--color-white);
}

.card-testimonials p{
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body4);
  font-family: var(--font-family-primary);
  color: var(--color-l-gray);
}

.container-faq{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: var(--color-l-black);
  gap: 60px;
  flex-direction: column;
}

.content-faq-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.content-faq-text div{
  display: flex;
  border: 1px solid var(--color-d-gray);
  padding: 12px 20px;
  backdrop-filter: blur(12px);
  width: 70px;
  filter: blur(0.4px);
  justify-content: center;
  border-radius: 24px;
  gap: 8px;
  width: max-content;
}

.content-faq-text div span{
  color: var(--color-pink);
  font-size: var(--font-size-body4);
  font-weight: var(--font-weight-body2);
  font-family: var(--font-family-primary);
}

.content-faq-text h2{
  color: var(--color-white);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  font-family: var(--font-family-primary);
  line-height: 100%;
}

.content-faq-text p{
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-body4);
  font-family: var(--font-family-secondary);
  color: var(--color-l-gray);
  text-align: center;
  line-height: 140%;
  width: 572px
}

.content-faq{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  width: 1138px;

}

.content-faq details{
  display: flex;
  padding: 30px;
  align-items: center;
  border-radius: 10px;
  border-bottom: 1px solid var(--color-d-gray);
}

.content-faq details summary{
  display: flex;
  gap: 392px;
  justify-content: center;
  align-items: center;
}

.content-faq details summary p{
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  font-family: var(--font-family-primary);
  color: var(--color-white);
  width: 655px;
}

.content-faq details summary img{
  transition: transform 0.3s ease;
  cursor: pointer;
}
